html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #3BD1BB;
  }
  
  ol, ul {
    list-style: none;
  }

body {
    font-family: 'Heebo', 'Merienda One' sans-serif;
}

header {

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.logo {
    margin-right: 490px;
}

.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-link {
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    color: #1A7F72;
    text-decoration: none;
    margin: 0 35px;
}

.menu-link:after {
    display: block;
    content: "";
    height: 10px;
    width: 0%;
    background-color: #1A7F72;
    border-radius: 10px 10px 0px 0px;
}

.menu-link:hover:after,
.menu-link:focus:after {
    width: 100%;
}