html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #DEF2F0;
  }
  
  ol, ul {
    list-style: none;
  }

body {
    font-family: 'Heebo', 'Merienda One' sans-serif;
}

header {

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.logo {
    margin-right: 490px;
}

.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-link {
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    color: #1A7F72;
    text-decoration: none;
    margin: 0 35px;
}

.menu-link:after {
    display: block;
    content: "";
    height: 10px;
    width: 0%;
    background-color: #1A7F72;
    border-radius: 10px 10px 0px 0px;
}

.menu-link:hover:after,
.menu-link:focus:after {
    width: 100%;
}

.header-content {
  background: url(images/header-fon.png) no-repeat;
  height: 1140px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-family: 'Merienda One';
  font-weight: 400;
  font-size: 68px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  width: 758px;
  margin-bottom: 20px;
}

.header-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  width: 1109px;
  margin-bottom: 120px;
}

.header-btn {
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(180deg, #259385 0%, #159685 100%);
  box-shadow: 0px 20px 40px rgba(21, 113, 101, 0.2);
  border-radius: 50px;
  padding: 18px 90px;
  text-decoration: none;
}

.header-img {
  margin-top: 80px;
}

.sections {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.section1 {
  background: url(images/sec_meditation-fon.png) no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 500px;
}

.section-img {
  margin-top: 60px;
}

.section-title {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  text-align: center;
  color: #000000;
}

.section-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  width: 324px;
}

.section-btn {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background: linear-gradient(180deg, #259385 0%, #159685 100%);
  box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
  border-radius: 30px;
  padding: 12px 44px;
  margin-bottom: 230px;
}

.section2 {
  background: url(images/sec_yoga-fon.png) no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 500px;
  margin: 0 180px;
}

.section3 {
  background: url(images/sec_sound-fon.png) no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 500px;
}

.practice {
  background: url(images/practice-fon.png) no-repeat;
  background-position: right bottom;
}

.practice-title {
  font-family: 'Merienda One';
  font-weight: 400;
  font-size: 54px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  width: 706px;
  margin-left: 606px;
}

.practice-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  width: 1105px;
  margin-left: 407px;
}

.practice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.practice-contents {
  margin-left: 146px;
}

.practice-content1 {
  background: url(images/practice-contents-fon.png) no-repeat;
  width: 788px;
  padding-left: 90px;
  padding-top: 30px;
}

.practice-content-title {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.8);
}

.practice-content-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
  width: 620px;
  margin-bottom: 0px;
}

.practice-content2 {
  background: url(images/practice-contents-fon.png) no-repeat;
  padding-left: 90px;
  padding-top: 30px;
}

.practice-content3 {
  background: url(images/practice-contents-fon.png) no-repeat;
  padding-left: 90px;
  padding-top: 30px;
}

.practice-contents-img {
  margin-left: 540px;
  margin-bottom: 80px;
}

.music {
  background: url(images/music-fon.png) no-repeat;
}

.music-title {
  font-family: 'Merienda One';
  font-weight: 400;
  font-size: 54px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.music-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  width: 1105px;
  margin-left: 407px;
}

.music-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-audios {
  margin-top: -120px;
}

.music-audio {
  background: url(images/music-btn-fon.png) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 770px;
  height: 250px;
}

.music-audio-content {
  padding-top: 70px;
  width: 371px;
  margin-left: 100px;
}

.music-audio-title {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.music-audio-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
}

.music-audio-btn {
  margin-top: 90px;
  margin-left: 100px;
}

.music-images {
  margin-left: 190px;
}

.meditation {
  background: url(images/meditation-fon.png) no-repeat;
  padding-top: 80px;
  height: 1314px;
}

.meditation-title {
  font-family: 'Merienda One';
  font-weight: 400;
  font-size: 54px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.meditation-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  width: 1105px;
  margin-left: 407px;
}

.meditation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meditation-img {
  margin: 0 74px;
}

.meditation-block1, .meditation-block2, .meditation-block3 {
  background: url(images/meditation-content1.png) no-repeat;
  width: 610px;
  height: 220px;
  padding-top: 1px;
}

.meditation-block4, .meditation-block5, .meditation-block6 {
  background: url(images/meditation-content2.png) no-repeat;
  width: 610px;
  height: 220px;
  padding-top: 1px;
}

.meditation-block-title {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  text-align: right;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 50px;
  margin-bottom: 10px;
}

.meditation-block-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
  width: 483px;
  margin: 0;
  margin-left: 80px;
}

.meditation-content2-block-title {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 50px;
  margin-bottom: 10px;
}

.meditation-content2-block-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
  width: 483px;
  margin: 0;
  margin-left: 50px;
}

.transformarion {
  background: url(images/transformarion-fon.png) no-repeat;
  height: 1490px;
  padding-top: 50px;
}

.transformarion-title {
  font-family: 'Merienda One';
  font-weight: 400;
  font-size: 54px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.transformarion-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  width: 1105px;
  margin-left: 407px;
}

.transformarion-content1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transformarion-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transformarion-images1 {
  margin-right: 197px;
}

.transformarion-images2 {
  margin-left: 197px;
}

.transformarion-content-title {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.8);
}

.transformarion-content-desc {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  width: 619px;
  margin-bottom: 50px;
}

.transformarion-content-btn {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 44px;
  background: linear-gradient(180deg, #259385 0%, #159685 100%);
  box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
  border-radius: 30px;
  text-decoration: none;
}

footer {
 background: url(images/footer-background.png) no-repeat;
 height: 425px;
}

.footer-logo {
  margin-left: 884px;
  margin-top: 113px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.footer-link {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: #000000;
  text-decoration: none;
  padding: 0 40px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.footer-icon {
  padding: 0 30px;
}
